/* Resize Handle */
.resize-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: transparent;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

/* Modify Resize Handle Border */
.resize-handle::after {
    /* Remove border lines */
    border: none;

    /* Optionally, add a different indicator */
    background: #0f0;
    width: 8px;
    height: 8px;
    border-radius: 2px;
}